Experiment: First eye-tracker experiment   // File descriptor
Eye Tracker Experiment - Comprehension of Feature Models // Legend for welcome message
1100, 800 // width, height question window
0,0   // x,y position of the question window. Zeroes if relative to main framework
26   // number of questions
randomized // either randomized or the sequence of questions like 1,4,5,2,3
-1,./src/experiment-figures/model-i1-i1-1.jpg,Warm up Question 1,Is X-Y-Z a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
-2,./src/experiment-figures/model-i1-i1-2.jpg,Warm up Question 2,Is B-G-H a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
5,./src/experiment-figures/model-i1-i3-1.jpg,Question 5,Is A-B-J-C-L-M a valid FULL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
6,./src/experiment-figures/model-i1-i3-2.jpg,Question 6,Is B-C-G-J-M-F a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
4,./src/experiment-figures/model-i1-i2-2.jpg,Question 4,Is A-B-C-D-G-E a valid FULL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
23,./src/experiment-figures/model-i4-i3-1.jpg,Question 23,Is E-Bb-Cc-L-M-O-Q a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
9,./src/experiment-figures/model-i2-i2-1.jpg,Question 9,Is A-B-F-C-J-D-M a valid FULL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
17,./src/experiment-figures/model-i3-i3-1.jpg,Question 17,Is A-F-M-G-N-H-Q a valid FULL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
10,./src/experiment-figures/model-i2-i2-2.jpg,Question 10,To complete the valid PARTIAL configuration A-B-E-C-H-M-N-J-D-K which feature you MUST select?,true,true,true,true,radio,G ; I; O; P,No
21,./src/experiment-figures/model-i4-i2-1.jpg,Question 21,Is G-Y-H-K-Jj-V a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
14,./src/experiment-figures/model-i3-i1-2.jpg,Question 14,Is F-I-P-S-V-Z a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
22,./src/experiment-figures/model-i4-i2-2.jpg,Question 22,Is Qq-F-Ff-G-AaA-BbB a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
8,./src/experiment-figures/model-i2-i1-2.jpg,Question 8,Is B-F-L-C-J-R a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
2,./src/experiment-figures/model-i1-i1-2.jpg,Question 2,Is B-G-H a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
24,./src/experiment-figures/model-i4-i3-2.jpg,Question 24,Is E-W-Ii-Aa-O-S a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
12,./src/experiment-figures/model-i2-i3-2.jpg,Question 12,Is H-L-J-P-G a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
3,./src/experiment-figures/model-i1-i2-1.jpg,Question 3,Is A-B-C-G-I-F a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
7,./src/experiment-figures/model-i2-i1-1.jpg,Question 7,Is A-B-G-C-J-E a valid FULL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
1,./src/experiment-figures/model-i1-i1-1.jpg,Question 1,Is K-J-G a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
13,./src/experiment-figures/model-i3-i1-1.jpg,Question 13,Is B-G-H-P-Q-T a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
11,./src/experiment-figures/model-i2-i3-1.jpg,Question 11,Is O-P-H-E-N-S a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
19,./src/experiment-figures/model-i4-i1-1.jpg,Question 19,Is A-F-R-Dd-Ll-H-Cc a valid FULL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
20,./src/experiment-figures/model-i4-i1-2.jpg,Question 20,Is I-P-T-Y-Ii-Mm a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
18,./src/experiment-figures/model-i3-i3-2.jpg,Question 18,Is Q-Y-Bb-S-Z-Ff a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
15,./src/experiment-figures/model-i3-i2-1.jpg,Question 15,Is D-J-O-Q-S-G a valid PARTIAL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,Yes
16,./src/experiment-figures/model-i3-i2-2.jpg,Question 16,Is A-B-C-I-G-R a valid FULL configuration?,true,true,true,true,radio,Yes ; No; I cannot answer,No
