Experiment: First eye-tracker experiment   // File descriptor
Eye Tracker Experiment - Comprehension of Feature Models // Legend for welcome message
1100, 800 // width, height question window
0,0   // x,y position of the question window. Zeroes if relative to main framework
26   // number of questions
randomized // either randomized or the sequence of questions like 1,4,5,2,3
./src/fms-figs/model-i1-i1-1.jpg,Warm up Question 1,Is X-Y-Z a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i1-i1-2.jpg,Warm up Question 2,Is B-G-H a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i3-i1-2.jpg,Question14,Is F-I-P-S-V-Z a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i4-i3-2.jpg,Question24,Is E-W-Ii-Aa-O-S a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i1-i1-2.jpg,Question2,Is B-G-H a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i1-i2-2.jpg,Question4,Is A-B-C-D-G-E a valid FULL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i1-i2-1.jpg,Question3,Is A-B-C-G-I-F a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
./src/fms-figs/model-i1-i1-1.jpg,Question1,Is K-J-G a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i4-i2-2.jpg,Question22,Is Qq-F-Ff-G-AaA-BbB a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i2-i2-2.jpg,Question10,To complete the valid PARTIAL configuration A-B-E-C-H-M-N-J-D-K which feature you MUST select?,true,true,false,false,radio,G ; I; O; P,No
./src/fms-figs/model-i3-i3-2.jpg,Question18,Is Q-Y-Bb-S-Z-Ff a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i3-i3-1.jpg,Question17,Is A-F-M-G-N-H-Q a valid FULL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i2-i1-1.jpg,Question7,Is A-B-G-C-J-E a valid FULL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i3-i2-2.jpg,Question16,Is A-B-C-I-G-R a valid FULL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i1-i3-1.jpg,Question5,Is A-B-J-C-L-M a valid FULL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i4-i1-1.jpg,Question19,Is A-F-R-Dd-Ll-H-Cc a valid FULL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i3-i1-1.jpg,Question13,Is B-G-H-P-Q-T a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i2-i3-1.jpg,Question11,Is O-P-H-E-N-S a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i3-i2-1.jpg,Question15,Is D-J-O-Q-S-G a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i2-i3-2.jpg,Question12,Is H-L-J-P-G a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i1-i3-2.jpg,Question6,Is B-C-G-J-M-F a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,Yes
./src/fms-figs/model-i4-i1-2.jpg,Question20,Is I-P-T-Y-Ii-Mm a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
./src/fms-figs/model-i2-i1-2.jpg,Question8,Is B-F-L-C-J-R a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i4-i2-1.jpg,Question21,Is G-Y-H-K-Jj-V a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i4-i3-1.jpg,Question23,Is E-Bb-Cc-L-M-O-Q a valid PARTIAL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
./src/fms-figs/model-i2-i2-1.jpg,Question9,Is A-B-F-C-J-D-M a valid FULL configuration?,true,true,false,false,radio,Yes ; No; I cannot answer,No
